<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="python.exe" arguments=".\app.py" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout.log" startupTimeLimit="20" processesPerApplication="1" />
  </system.webServer>
</configuration>
